@model IEnumerable<FCArsenalFanPage.Data.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h1 class="text-center mt-3 mb-4">Products Dashboard</h1>

<p class="text-center">
    <a style="color:white" type="submit" class="btn btn-success mt-2 mb-3 ml-2 p-3" asp-area="" asp-controller="Shop" asp-action="Create">Create Product</a>
</p>

<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark text-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                Priduct Category
            </th>
            <th>
                Created by user
            </th>
            <th>
                Created on
            </th>
            <th>
                Modified on
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-center">
@foreach (var item in Model) {
        <tr >
                <td class="align-middle" style="width:19%">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Price)$
            </td>
                <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
                <td class="align-middle">
                @Html.DisplayFor(modelItem => item.ProductCategory.Name)
            </td>
                <td class="align-middle">
                @Html.DisplayFor(modelItem => item.CreatedByUser.Id)
            </td>
                <td class="align-middle">
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
                <td class="align-middle">
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td>
                <td>
                    <a class="btn btn-primary mt-2 mb-2 ml-1" asp-area="" asp-controller="Shop" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-info mt-2 mb-2 ml-1" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    <a class="btn btn-danger mt-2 mb-2 ml-1" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
