@model IEnumerable<MyOrderViewModel>

@{
    this.ViewData["Title"] = "My Orders";
}

<div class="breadcrumb-section breadcrumb-bg mb-2">
</div>

<div class="container mt-5 mb-5">
    @if (Model.Any()) 
    {
        <h3 class="mb-5">My Orders</h3>

    @foreach(var orderStatus in Model)
    {
        <div class="list-group">
            <div class="list-group-item order-item" data-target="#order1-details">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@orderStatus.OrderNumber </h5>
                    <small>@orderStatus.CreatedOn</small>
                </div>
                <p class="mb-1">Status: @orderStatus.Status</p>
                <small>Total: $@orderStatus.TotalPrice</small>
            </div>

            <div id="order1-details" class="toggle-content">
                @foreach (var order in orderStatus.Orders)
                {
                <div class="row py-3 mb-3">
                    <div class="col-md-2 d-flex align-items-center">
                        <img src="@order.ImageUrl" class="img-fluid product-img" alt="Product Image">
                    </div>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <div class="product-info">
                            <p>@order.ProductName</p>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex align-items-center justify-content-center">
                        <div class="product-info">
                            <p>Quantity: @order.Quantity</p>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex align-items-center justify-content-center">
                        <div class="product-info">
                            <p>Price: $@order.Price.ToString("F2")</p>
                        </div>
                    </div>
                </div>

                }
            </div>

            <!-- Additional orders can be added here in similar fashion -->
        </div>
        }
    }
    else
    {
        <h4 class="text-center">You have not placed any orders yet.</h4>
    }
</div>

<script>
    document.querySelectorAll('.order-item').forEach(item => {
        item.addEventListener('click', function () {
            var target = document.querySelector(this.getAttribute('data-target'));
            target.classList.toggle('show');
            if (target.classList.contains('show')) {
                var rect = this.getBoundingClientRect();
                window.scrollBy({
                    top: rect.top - 100, // настройка на колко да скролне страницата, напр. 100 пиксела над главния елемент
                    behavior: 'smooth'
                });
            }
        });
    });
</script>
