@model LeaguesStandingsViewModel

<div>
    <div class="breadcrumb-section breadcrumb-bg mb-2">
    </div>

    <partial name="_MatchesNaviPartial" />

    <h2>Premier League Standings</h2>

    <div class="premier-league-logo-image"><img src="~/Images/Others/premierLion.png" alt="Logo" /></div>

    <div class="center-container">
        <table class="premier-league-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Club</th>
                    <th title="Matches Played">MP</th>
                    <th title="Wins">W</th>
                    <th title="Draws">D</th>
                    <th title="Losses">L</th>
                    <th title="Goal Difference">GD</th>
                    <th title="Points">Pts</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var team in Model.PremierLeague)
                {
                    <tr>
                        <td class="position-column">@team.Position.</td>
                        <td class="team-column">
                            <img src="@team.TeamLogo" alt="Logo" />
                            @team.TeamName
                        </td>
                        <td class="played-column">@team.PlayedGames</td>
                        <td>@team.Wins</td>
                        <td>@team.Draws</td>
                        <td>@team.Losts</td>
                        <td class="goals-difference-column">@team.GoalsFor:@team.GoalsAgainst (@team.GoalsDifference)</td>
                        <td>@team.Points</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="standings-legend-container">
        <div class="standings-legend-item">
            <span class="standings-circle standings-blue"></span> Champions League
        </div>
        <div class="standings-legend-item">
            <span class="standings-circle standings-green"></span> Europa League
        </div>
        <div class="standings-legend-item">
            <span class="standings-circle standings-red"></span> Relegation
        </div>
    </div>
</div>
