@model List<MatchViewModel>

@{
    ViewData["Title"] = "Arsenal FC Match Schedule: Upcoming Games";
}

<div class="breadcrumb-section breadcrumb-bg mb-2"></div>

<div class="internal-navigation">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" id="fixtures-link" asp-area="" asp-controller="Match" asp-action="UpcomingMatches">Fixtures</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tables-link" asp-area="" asp-controller="Match" asp-action="Leaderboard">Tabels</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tables-link" asp-area="" asp-controller="Match" asp-action="TeamResults">Results</a>
        </li>
    </ul>
</div>

<div id="fixtures">
    <h2>Upcoming Fixtures</h2>
    @if (Model != null && Model.Any())
    {
        @foreach (var match in Model)
        {
            <div class="match-card">
                <div class="match-header">
                    <span class="match-date">@match.UtcDate.ToString("ddd MMM dd")</span>
                    <img src="@match.TournamentLogo" alt="Tournament Emblem" class="tournament-emblem">
                </div>
                <div class="divider"></div>
                <div class="match-teams">
                    <div class="team">
                        <img src="@match.HomeTeam.TeamLogo" alt="Home Team Crest" class="team-crest">
                        <span class="team-name">@match.HomeTeam.Name</span>
                    </div>
                    <div class="match-time-center">
                        <span class="time-box">@match.UtcDate.ToString("HH:mm")</span>
                    </div>
                    <div class="team">
                        <img src="@match.AwayTeam.TeamLogo" alt="Away Team Crest" class="team-crest">
                        <span class="team-name">@match.AwayTeam.Name</span>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>No upcoming matches for Arsenal.</p>
    }
</div>