@model List<TeamStandingsViewModel>

<div class="breadcrumb-section breadcrumb-bg mb-2">
</div>

<h2>Premier League Standings</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Position</th>
            <th>Team</th>
            <th>Played</th>
            <th>Won</th>
            <th>Draw</th>
            <th>Lost</th>
            <th>Points</th>
            <th>Goals For</th>
            <th>Goals Against</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
            <tr>
                <td>@team.Position</td>
                <td>@team.TeamName</td>
                <td>@team.PlayedGames</td>
                <td>@team.Wins</td>
                <td>@team.Draws</td>
                <td>@team.Losts</td>
                <td>@team.Points</td>
                <td>@team.GoalsFor</td>
                <td>@team.GoalsAgainst</td>
            </tr>
        }
    </tbody>
</table>