@model NewsListViewModel

@{
	this.ViewData["Title"] = "News";
}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg mb-2">
</div>
<!-- end breadcrumb section -->

<div class="latest-news mt-150">
    <div class="container">
        <div class="row">
            <!-- Large News Item -->
            @if (Model.News.Any())
            {
                var largeNews = Model.News.First();
                <div class="col-lg-12">
                    <div class="single-latest-news large-news">
                        <div class="image-wrapper">
                            <img class="card-img-top" src="@largeNews.ImageUrl" alt="Large News Image">
                        </div>
                        <div class="news-text-box">
                            <h3><a asp-action="SingleNews" asp-route-id="@largeNews.Id">@largeNews.Title</a></h3>
                            <p class="blog-meta">
                                <span class="author"><i class="fas fa-user"></i> @largeNews.UserName</span>
                                <span class="date"><i class="fas fa-calendar"></i> @largeNews.CreatedOn</span>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Other News Items -->
                <div class="col-lg-12">
                    <div class="row">
                        @foreach (var news in Model.News.Where(n => n.Id != largeNews.Id))
                        {
                            <div class="col-lg-4 col-md-6">
                                <div class="single-latest-news">
                                    <div class="image-wrapper">
                                        <img class="card-img-top" src="@news.ImageUrl" alt="Card image cap">
                                    </div>
                                    <div class="news-text-box">
                                        <h3><a asp-action="SingleNews" asp-route-id="@news.Id">@news.Title</a></h3>
                                        <p class="blog-meta">
                                            <span class="author"><i class="fas fa-user"></i> @news.UserName</span>
                                            <span class="date"><i class="fas fa-calendar"></i> @news.CreatedOn</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- Paging Partial -->
    <partial name="_PagingPartial" />
</div>