@model SingleNewsViewModel

@{
	this.ViewData["Title"] = "News";
}

<div class="breadcrumb-section breadcrumb-bg">
</div>
<!-- end breadcrumb section -->
<!-- single article section -->
<div class="mt-80 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="single-article-section">
					<div class="single-article-text">
						<h2>@Model.Title</h2>
						<p class="blog-meta">
							<span class="author"><i class="fas fa-user"></i>@Model.UserUserName </span>
							<span class="date"><i class="fas fa-calendar"></i> @Model.CreatedOn.ToString("dd MMMM, yyyy", CultureInfo.InvariantCulture)</span>
						</p>
						<img class="single-artcile-bg" src="@Model.ImageUrl" alt="@Model.Title">
						<p>@Html.Raw(Model.Content)</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end single article section -->
