@model SingleNewsViewModel

@{
	this.ViewData["Title"] = "News";
}

<div class="breadcrumb-section breadcrumb-bg">
</div>

<!-- single article section -->
<div class="mt-80 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="single-article-section">
					<div class="single-article-text mb-5">
						<h2>@Model.Title</h2>
						<p class="blog-meta">
							<span class="author"><i class="fas fa-user"></i>@Model.UserUserName </span>
							<span class="date"><i class="fas fa-calendar"></i> @Model.CreatedOn.ToString("dd MMMM, yyyy", CultureInfo.InvariantCulture)</span>
						</p>
						<img class="single-artcile-bg" src="@Model.ImageUrl" alt="@Model.Title">
						<p>@Html.Raw(Model.Content)</p>
					</div>
					<hr />

					@if (this.Model.Comments.Any())
					{
						<div class="comments-list-wrap">
							<hr />
							<h3 class="comment-count-title">@this.Model.Comments.Count() Comments</h3>
							@foreach (var comment in Model.Comments)
							{
								@if (comment.ParentId != null)
								{
									
										<div class="single-comment-body child">
											<div class="comment-user-avater">
												<img class="profile-picture" src="@comment.UserImageUrl" alt="">
											</div>
											<div class="comment-text-body">
											<h4>@comment.UserUserName <span class="comment-date">@comment.CreatedOn.ToLocalTime().ToString("d MMM yyyy | HH:mm", CultureInfo.CurrentCulture)</span></h4>
											<p>@Html.Raw(comment.SanitizedContent)</p>
											</div>
										</div>
								}
								else
								{

									<div class="comment-list">
										<div class="single-comment-body">
											<div class="comment-user-avater">
												<img class="profile-picture" src="@comment.UserImageUrl" alt="">
											</div>
											<div class="comment-text-body">
												<h4>@comment.UserUserName <span class="comment-date">@comment.CreatedOn.ToLocalTime().ToString("d MMM yyyy | HH:mm", CultureInfo.CurrentCulture)</span> <a onclick="showAddCommentForm(@comment.Id)">reply</a></h4>
												<p>@Html.Raw(comment.SanitizedContent)</p>
											</div>
										</div>
									</div>
								}
							}
						</div>
					}

					<div class="comment-template">
						<h4>Leave a comment</h4>
						<p>If you have a comment don't feel hesitate to send us your opinion.</p>
						<form asp-controller="Comments" asp-action="Create" method="post" id="AddCommentForm">
							<div>
								<input type="hidden" name="NewsId" value="@this.Model.Id" />
								<input type="hidden" name="ParentId" value="0" />
							</div>
							<p><textarea name="content" id="content" cols="30" rows="10" placeholder="Your Message"></textarea></p>
							<p><input type="submit" value="Add comment"></p>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="sidebar-section">
					<div class="recent-posts test">
						<h4 class="text-center">Recent Posts</h4>
						@foreach (var post in Model.RecentPosts)
						{
							<div class="col-lg-9 col-md-6 recentPostst">
								<div class="single-latest-news">
									<img class="card-img-top" src="@post.ImageUrl" alt="Card image cap">
									<div class="news-text-box">
										<h3><a asp-action="SingleNews" asp-route-id="@post.Id">@post.Title</a></h3>
										<p class="blog-meta">
											<span class="author"><i class="fas fa-user"></i> @post.UserName</span>
											<span class="date"><i class="fas fa-calendar"></i>@post.CreatedOn</span>
										</p>
										<p class="excerpt">@post.Details</p>
										<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
									</div>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end single article section -->
@section Scripts {
	<script>
		function showAddCommentForm(parentId) {
			$("#AddCommentForm input[name='ParentId']").val(parentId);
			$([document.documentElement, document.body]).animate({
				scrollTop: $("#AddCommentForm").offset().top
			}, 100);
		}

	</script>
}