@model ProductListViewModel

@{
	this.ViewData["Title"] = "Shop";
	var productCategories = Model.Categories;	
}

<div class="breadcrumb-section breadcrumb-bg">
</div>

@if (ViewBag.SuccessMessage != null)
{
	<div id="success-message">
		<span class="icon">&#10003;</span>
    <span class="message"> @ViewBag.SuccessMessage</span>
    <button class="close-btn" onclick="this.parentElement.style.display='none'">X</button>
</div>
}

<!-- products -->
<div class="product-section mt-150 mb-150">
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<div class="product-filters">
					<ul>
						<li class="active" data-filter="*">All</li>
						@foreach (var categorie in productCategories)
						{
							var classItem = $".{categorie.Text.ToLower()}";
							var categoryName = char.ToUpper(categorie.Text[0]) + categorie.Text.Substring(1).ToLower();


							<li data-filter="@classItem">@categoryName</li>
						}
						
						
					</ul>
				</div>
			</div>
		</div>

		<div class="row product-lists">

		@foreach(var product in Model.Products)
		{


				<div class="col-lg-4 col-md-6 text-center @product.ProductCategoryName.ToLower()">
				<div class="single-product-item">
					<div class="product-image">
					 <a asp-action="SingleProduct" asp-route-id="@product.Id"><img src="@product.ImageUrl" alt=""></a>
					</div>
						<h3>@product.Name</h3>
					<p class="product-price">@product.Price$ </p>
						
						<form method="post" asp-controller="Orders" asp-action="Order">
							
							<input type="hidden" name="Id" value="@product.Id" />
							<input type="hidden" name="Quantity" value="1" />
							<button class="btn product-btn" type="submit"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
						</form>
				</div>
			</div>

			}
	 </div>
		<partial name="_PagingPartial" />
	</div>
</div>
<!-- end products -->

@section Scripts {
		<script type="text/javascript">
			// Автоматично скриване на съобщението след 5 секунди
			setTimeout(function () {
				var messageElement = document.getElementById("success-message");
				if (messageElement) {
					messageElement.classList.add("fade-out");

					// Пълно скриване след анимацията
					setTimeout(function () {
						messageElement.style.display = "none";
					}, 1000); // 1 секунда за анимация
				}
			}, 5000); // 5 секунди

			// Функция за ръчно затваряне на съобщението
			function closeMessage() {
				var messageElement = document.getElementById("success-message");
				if (messageElement) {
					messageElement.style.display = "none";
				}
			}
		</script>
}