@model ProductListViewModel

@{
	this.ViewData["Title"] = "Shop";
}

<div class="breadcrumb-section breadcrumb-bg">
</div>

<!-- products -->
<div class="product-section mt-150 mb-150">
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<div class="product-filters">
					<ul>
						<li class="active" data-filter="*">All</li>
						<li data-filter=".kit">Kit</li>
						<li data-filter=".berry">Berry</li>
						<li data-filter=".lemon">Lemon</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row product-lists">

		@foreach(var product in Model.Products)
		{


				<div class="col-lg-4 col-md-6 text-center @product.ProductCategoryName.ToLower()">
				<div class="single-product-item">
					<div class="product-image">
					 <a asp-action="SingleProduct" asp-route-id="@product.Id"><img src="@product.ImageUrl" alt=""></a>
					</div>
						<h3>@product.Name</h3>
					<p class="product-price">@product.Price$ </p>
						<a class="cart-btn" asp-area="" asp-controller="Orders" asp-action="Cart"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
				</div>
			</div>

			}
	 </div>
		<partial name="_PagingPartial" />
	</div>
</div>
<!-- end products -->