@model SingleProductViewModel

@{
	this.ViewData["Title"] = Model.Name;
}

<div class="breadcrumb-section breadcrumb-bg">
</div>

<!-- single product -->
<div class="single-product mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="single-product-img">
					<img src="@Model.ImageUrl" alt="@Model.Name">
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-content">
					<h3>@Model.Name</h3>
					<p class="single-product-pricing">$@Model.Price</p>
					<p>@Html.Raw(Model.Description)</p>
					<div class="single-product-form">
						<form action="index.html">
							<input type="number" placeholder="0">
						</form>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
						<p><strong>Categories: </strong>@Model.ProductCategoryName</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>